.st {
  animation: smooth-top 1s forwards;
}

.sb {
  animation: smooth-bottom 1s forwards;
}

.sl {
  animation: smooth-left 1s forwards;
}

.sr {
  animation: smooth-right 1s forwards;
}

.sf {
  animation: smooth-fade 0.5s forwards;
}

.du-2 {
  animation-duration: 0.8s;
}

.du-3 {
  animation-duration: 0.6s;
}

.du-4 {
  animation-duration: 0.4s;
}

.du-5 {
  animation-duration: 0.2s;
}

@keyframes smooth-top {
  0%,
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smooth-bottom {
  0%,
  70% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smooth-left {
  0%,
  50% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes smooth-right {
  0%,
  50% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes smooth-fade {
  0%,
  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
